.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    border: 1px solid rgba(68, 0, 253, 0.12);

    .upload-photo {
        position: fixed;
        bottom: 25px;
        right: 20px;
        z-index: 1000;
    }

    mat-card {
        margin: 1em;
        width: 250px;
        height: 350px;
    }
    mat-card-header{
        border: 1px solid rgba(68, 0, 253, 0.12);
        display: flex;
        justify-content: center;
        align-items: start;
        margin: 0%;
        padding: 0%;
        padding-left: 1em;
        height: 2em;

        p{
            width: 100%;
            display: flex;
            margin-top:5px
        }
    }
    mat-card-actions{
        border: 1px solid rgba(68, 0, 253, 0.12);
        margin: 0%;

    }
    .deletePhoto,
    .setAvatar{
     font-size: smaller;
    }
    .avatar{
        margin: 0%;
        color: rgba(68, 0, 253, 0.12);

        mat-icon{
            
        }
    }
 
}