@if (user){
<div class="profile-container">
    <mat-tab-group>
        <mat-tab label="Profile">
            <form (ngSubmit)="onSubmit()" #form="ngForm" autocomplete="off">
                <mat-form-field>
                    <mat-label>Display Name</mat-label>
                    <input matInput [(ngModel)]="user.display_name" name="display_name"
                    row = "6">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Introduction</mat-label>
                    <textarea [(ngModel)]="user.introduction" name="introduction"
                    row = "6"> </textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>interest</mat-label>
                    <textarea [(ngModel)]="user.interest" name="interest"
                    row = "6"> </textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Looking for</mat-label>
                    <textarea [(ngModel)]="user.looking_for" name="looking_for">
                    <mat-option vavuel="male"></mat-option> 
                    <mat-option value="female"></mat-option>
                     <mat-option value="all"></mat-option>
                </textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <textarea [(ngModel)]="user.gender" name="gender">
                    <mat-option vavuel="male"></mat-option> 
                    <mat-option value="female"></mat-option>
                     <mat-option value="all"></mat-option>
                </textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Location</mat-label>
                    <input matInput [(ngModel)]="user.location" name="location">
                </mat-form-field>
                <button mat-raised-button type="submit"[disabled]="form.invalid || !form.dirty">Save</button>
            </form>
        </mat-tab>
        <mat-tab label="Photo"> </mat-tab>
    </mat-tab-group>
</div>
}