mat-toolbar button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;

}

mat-toolbar button:not(.home-button) {
    border-bottom: 0.15 solid rgb(46, 255, 81);
    color: rgb(81, 17, 141);
}

mat-toolbar button.active:not(.home-button) {
    color: rgb(81, 17, 141);
    border-bottom: 0.15 solid rgb(245, 7, 7);
}


mat-toolbar .home-button {
    color: rgb(212, 0, 255);
}